body {
    font-family: 'Patrick Hand', cursive;
}

.links {
    margin: 0 auto;
    margin-right: 50px;
  }
  
  li {
    float: left;
    list-style-type: none;
    justify-content: space-evenly;
    padding-right: 30px;
  }

#logo {
    color: blue;
    font-size: 28px;
}

#pizza-slice {
  width: 24px;
  height: 24px;
}

.row {
    margin-top: 10px;
}

.heading-1 {
    margin-right: 50px;
    font-size: 14px;
}

.heading-1 h1 {
    font-size: 3.1rem;
    color: blue;
}

.heading-1 p {
    font-size: 1.1rem;
}

#button-1 {
  background-color: blue;
  border-radius: 25px;
  padding: 12px;
  color: white;
  border-style: none;
  font-size: 1.2rem;
  outline: none;
  margin-top: 5px;
}

#button-1:hover {
  opacity: 0.7;
}

.delivery-bike {
    padding-top: 85px;
}

.heading-2 {
  text-align: center;
  font-size: 2.4rem;
  color: blue;
  padding-bottom: 20px;
}

.card {
  box-shadow: rgb(75, 74, 74);
  max-width: 300px;
  margin: auto;
  text-align: center;
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.2);
  padding-right: 20px;
  padding-left: 20px;
  border: none;
}
  
.price {
  color: grey;
  font-size: 22px;
}
  
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: blue;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
  border-radius: 7px;
}
  
.card button:hover {
  opacity: 0.7;
}

.classic-pizza {
  margin-top: 130px;
}

.deluxe-pizza {
  margin-top: 70px;
}

.supreme-pizza {
  margin-top: 70px;
}

.heading-2 {
  margin-bottom: 20px;
}

.container .row .customize {
  text-align: center;
}

.container .row .customize input {
  padding-top: 25px;
}

.paragraphs {
  margin-top: 20px;
  color: blue;
}